<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Upload</title>
</head>
<body>
    <h1>Documents Upload</h1>
    <h1 onclick="this.innerHTML='Hello!'">WELCOME! </h1>
    <form method="post" enctype="multipart/form-data">
        Document Select: <input type="file" name="file" id="file" />
        <br/>
        <br/>
        <input type="submit" value="Upload Document">
    </form>
    <h4>{{ data.msg}}</h4>
</body>
</html>