<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Form</title>
</head>
<body>
    <h1>Add User Data using SQLAlchemy</h1>
    <form method="post">
    <p>Enter User Name: <input type="text" name="name" id="name"></p>
    
    <p>Enter Email: <input type="email" name="email" id="email"></p>
    </br>
        <input type="submit" value="Add User Data">

    </form>
</body>
</html>